name: CI
on:
  push:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: fwilhe2/setup-kotlin@main
      - run: kotlinc src/main/kotlin/com/babcock/Main.kt -include-runtime -d /tmp/main.jar; java -jar /tmp/main.jar
      - run: sudo apt-get install -y gradle
      - run: ./gradlew test